
<header class="encabezado">
    <h1 class="titulo">Compañia de Luz</h1>
    <img src="https://preciogas.com/sites/preciogas.com/files/styles/article_hero/public/images/tarifas-luz-825x293.png.webp" 
    alt="CompañiaLuz.img">
</header>