<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .contMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
        background-color: yellow;
        align-items: center;
    }

    
    /* Estilos para el encabezado */
    .encabezado {
        text-align: center;
        padding-bottom: 20px;
        background-color: cyan;   
    }

    .encabezado .titulo {
        margin-bottom: 10px;
    }

    img{
        width: 50%;
    }

    /* Estilos para el menú de navegación */
    .barrabusqueda {
        text-align: center;
        padding: 2%;
        background-color: rgb(46, 43, 43);
    }

    .barrabusqueda a {
        margin-right: 20px;
        text-decoration: none;
        color: white;
    }

    .barrabusqueda a:hover {
        color: rgb(202, 187, 187);
    }

    /* Estilos para el footer */
    footer {
        text-align: center;
        padding: 10px 0;
        background-color: indianred;
    }

    /* ESTILOS DE LA PAGINA*/
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .infoContacto {
        margin-bottom: 20px;
    }

    .infoContacto p {
        margin-bottom: 5px;
    }

    .infoContacto p strong {
        margin-right: 5px;
    }
</style>

<body>
    <!--Incluimos el header y el nav-->
    <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>

            <div class="contMain">

                <h2>Contacto</h2>
                <div class="infoContacto">
                    <p><strong>Dirección:</strong> Ing. Manuel Bonilla #439 Infonavit Jabalies Mazatlán Sinaloa</p>
                    <p><strong>Teléfono:</strong> 6692-24-16-57</p>
                    <p><strong>Correo Electrónico:</strong> 2020030321@upsin.edu.mx</p>

                </div>

            </div>

            <%- include('partials/footer.ejs') %>

</body>

</html>