<!--INDEX.EJS-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
</head>
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .contMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
        background-color: yellow;
        align-items: center;
    }

    /* Estilos para el encabezado */
    .encabezado {
        text-align: center;
        padding-bottom: 20px;
        background-color: cyan;   
    }

    .encabezado .titulo {
        margin-bottom: 10px;  
    }

    img{
        width: 50%;
    }

    /* Estilos para el menú de navegación */
    .barrabusqueda {
        text-align: center;
        padding: 2%;
        background-color: rgb(46, 43, 43);
    }

    .barrabusqueda a {
        margin-right: 20px;
        text-decoration: none;
        color: white;
    }

    .barrabusqueda a:hover {
        color: rgb(202, 187, 187);
    }

    /* Estilos para el footer */
    footer {
        text-align: center;
        padding: 10px 0;
        background-color: indianred;
    }

    /* Estilos de la página Acerca de */
    .acercade {
        text-align: center;
        margin-bottom: 20px;
    }

    .parrafos {
        max-width: 600px; /* Ancho máximo para compactar horizontalmente */
        margin: 0 auto; /* Centrar el contenido */
        line-height: 1.5;
        font-size: 16px;
        margin-bottom: 10px;
        text-align: justify; /* Justificar el texto */
    }

    .parrafos:last-child {
        margin-bottom: 0;
    }
</style>

<body>
    <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>

            <div class="contMain">
                <h2 class="acercade">
                    <p class="parrafos">Bienvenido a la Comisión Federal de Electricidad (CFE), líder en el suministro confiable y eficiente de energía eléctrica. Nos enorgullece ser una fuente fundamental de energía para hogares, negocios y comunidades en todo el territorio al que servimos.</p>
                    <p class="parrafos">En la CFE, nos comprometemos a proporcionar electricidad segura y sostenible para impulsar el crecimiento y el bienestar de nuestros clientes. Contamos con años de experiencia en la industria y hemos establecido una reputación sólida basada en la confiabilidad de nuestro servicio y nuestro compromiso con la innovación.</p>
                    <p class="parrafos">Nuestra misión es ofrecer soluciones energéticas que se adapten a las necesidades cambiantes de la sociedad actual. Trabajamos incansablemente para mejorar la eficiencia de nuestros servicios y promover prácticas sostenibles que minimicen nuestro impacto ambiental.</p>
                    <p class="parrafos">En la CFE, nos esforzamos por brindar un servicio al cliente excepcional. Nuestro equipo de profesionales capacitados está dedicado a garantizar la satisfacción de nuestros clientes, respondiendo de manera oportuna a sus necesidades y preocupaciones.</p>
                    <p class="parrafos">Además de nuestra dedicación al servicio, también estamos comprometidos con la comunidad. Participamos activamente en iniciativas locales que fomentan el desarrollo sostenible, la educación y el bienestar general.</p>
                    <p class="parrafos">Explora nuestro sitio web para conocer más sobre la Comisión Federal de Electricidad y descubre cómo estamos iluminando el camino hacia un futuro más brillante y sostenible. Gracias por confiar en nosotros como tu proveedor de energía eléctrica.
                    </p>
             </div>


            <%- include('partials/footer.ejs') %>

</body>

</html>